.navigation-list > .ant-menu {
  justify-content: center;
  transform: translateX(-32px);
}

.ant-layout-header.navigation {
  padding: 0 60px !important;
}

.md-content .mark-down-html {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
